body {
    background-color: black;
    color: white;
    font-family: Calibri, "Trebuchet MS", sans-serif;
    font-size: 1rem;
    margin: 0;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Files/banner.jpg);
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
}
.banner-text {
    font-weight: bold;
    font-family: Calibri, "Trebuchet MS", sans-serif;
    font-size: 5rem;
    text-align: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
h2 {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.5em;
}
footer h2 {
    padding-bottom: 3rem;
}
.contentRow {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 25px 30px;
}
.flex-image, .flex-text {
    width: 37%;
    height: 22%;
}
.flex-text {
    margin-top: -1rem;
}
.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments p {
    margin-top: 3rem;
}